#app {

  .main-container {
    height: 100%;
    transition: margin-left .28s;
    margin-left: $base-sidebar-width;
    position: relative;
  }

  .sidebarHide {
    margin-left: 0!important;
  }

  .sidebar-container {
    -webkit-transition: width .28s;
    transition: width 0.28s;
    width: $base-sidebar-width !important;
    // background-color: $base-menu-background;
    background-color: $base-sub-menu-background !important;
    font-weight: 600;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    -webkit-box-shadow: 2px 0 6px rgba(0,21,41,.35);
    box-shadow: 2px 0 6px rgba(0,21,41,.35);

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background-color: #121D33 !important;
    }

   .el-menu a.is-active {
      background-color: #7e0f00 !important;
    }

    .el-menu-item, .el-submenu__title {
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      height: 40px;
      line-height: 40px;
      border-radius: 10px;
      margin: 0 10px;
      margin-top: 10px;
      box-sizing: border-box;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {//外层菜单
      background-color: $base-sub-menu-background !important;
      .el-submenu__icon-arrow {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
      }
      &:hover {
        // background-color: rgba(196, 196, 196, 1) !important;
      }
    }

    & .theme-dark {
      margin-right: 10px;
      border-radius: 10px;
    }
    // & .theme-dark li {
    //   background-color: $base-sub-menu-background !important;
    // }

    & .theme-dark .is-active.submenu-title-noDropdown {//外层选中
      color: #ffffff !important;
      background: linear-gradient(to bottom right, #005FED, #0BDED7) !important;
      // margin-right: 10px;
    }

    & .theme-dark .is-active > .el-submenu__title {//选中
      // color: $base-menu-color-active !important;
      color: #fff !important;
      background-color: #121D33 !important;
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $base-sidebar-width !important;

      &:hover {
        // background-color: rgba(0, 0, 0, 0.06) !important;
        background-color: rgb(251, 0, 239) !important;
      }
    }
    
    & .nest-menu .el-submenu>.el-submenu__title {
      background-color: #fff !important;
    }

    & .theme-dark .nest-menu {
      width: calc(100% - 10px);
      width: 100%;
      border-radius: 10px !important;
      margin-top: 10px;

      .el-submenu__icon-arrow {
        right: 40px;
      }
    }

    & .theme-dark .nest-menu .el-submenu>.el-submenu__title,
    & .theme-dark .el-submenu .el-menu-item {//内层菜单
      background-color: $base-sub-menu-background !important;
      // background-color: #14c868 !important;
      margin-top: 0px;

      &:hover {
        // background-color: $base-sub-menu-hover !important;
        // background-color: #c81414 !important;
      }
    }

    & .theme-dark .nest-menu .is-active {//内层选中
      color: #fff !important;
      background: linear-gradient(to bottom right, #005FED, #0BDED7) !important;
    }

    & .theme-dark .nest-menu .el-submenu.is-active {//内层列表同时匹配多个类名
      background: $base-sub-menu-background !important;
    }

  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
      * {
        margin: 0 ;
      }
      .svg-icon {
      margin-left: 20px;
      }
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $base-sidebar-width !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $base-sidebar-width !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$base-sidebar-width, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: rgba(0, 0, 0, 0.06) !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

.el-button {
  font-weight: 600;
}
.el-button--primary {
  background: linear-gradient(to bottom right, #005FED, #0BDED7);
  color: #fff;
}
